body{
	background: #f2f2f2;
}
.tichead {
	padding-left: 4%;
	padding-right: 4%;
	font-size: 12px;
	color: #999;
	background: #f2f2f2;
	padding: 10px 14px;
	line-height: 20px;
}
.tichead span{
	color: #333333;
}
.upimg,.upbox {
	padding-left: 4%;
	padding-right: 4%;
	background: #ffffff;
	clear: both;
	display: block;
	box-sizing: border-box;
	margin-top: 10px;
}
.upimg {
	padding-bottom: 20px;
}
.upimgtitle img {
	vertical-align: middle;
	display: inline-block;
}
.upimgtitle span {
	vertical-align: middle;
	display: inline-block;
	font-size: 15px;
	color: #333;
}
.uimg {
	margin-top: 14px;
}
.uimgtxt {
	font-size: 11px;
	color: #999999;
	padding-top: 7px;
}
.upbox {
	padding-top: 15px;
}
.upbox table td{
	border-bottom:1px solid #eeeeee;
	overflow: hidden;
	color: #333333;
	position: relative;
}
.floatimg {
	position: absolute;
	top: 18px;
	right: 5px;
}
.upbox table select {
	width: 32%;
	padding: 13px 10px;
	box-sizing: border-box;
	border: 0;
	float: left;
	font-size: 12px;
}
.upbox table td {
	font-size: 12px;
}
.upbox table td input {
	width: 100%;
	padding: 14px 10px;
	box-sizing: border-box;
	border: 0;
	font-size: 12px;
}
.bottom {
	padding:25px 0;
	padding-left: 4%;
	padding-right: 4%;
	background: #f2f2f2;
	text-align: center;
}
.bottom button {
	border-radius: 4px;
	background: #ff93ba;
	color: #fff;
	font-size: 17px;
	border:0;
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.btn {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-radius: 4px;
	background: #ff93ba;
	border: 0;
	color: #fff;
	font-size: 17px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc; opacity:1; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;opacity:1;
}
input:-ms-input-placeholder{
    color: #ccc;opacity:1;
}
input::-webkit-input-placeholder{
    color: #ccc;opacity:1;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #c2c2c2;
  color: #333333;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../img/tication/up.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
select option {
	color: #ccc;
}

.camerabox {
	position: absolute;
	top: 0;
	width: 95%;
	height: 100%;
	opacity: 0;
}
input[type=button], input[type=submit], input[type=file], button {cursor: pointer; -webkit-appearance: none;} 


/*320新添加样式*/
.codet,.codeb{text-align: center;}
.codet {font-size: 14px; color: #333;}
.codeb {font-size: 12px; color: #333;}
.codeb2 {font-size: 12px; color: #999;text-align: center;} 
.upimg table td {position: relative;}
.uimg {margin: 0 auto; display: block; margin-top: 20px; margin-bottom: 10px;}
.bdtd {border-bottom: 1px solid #eeeeee; padding-bottom: 16px;}
.upbox-title {font-size: 15px; color: #333333;padding-top:10px; padding-bottom: 5px;}
